.title {
    font-size: 72px;
    text-align: center;
}

.page {
    background-color: #E2CCB4;
}

.difficultyLevelTitle {
    font-size: 48px;
    text-align: center;
}

.levelLabels {
    display: flex;
    justify-content: center;
    font-size: 36px;
}


.playBtn {
    font-size: 80px;
    border-color: transparent;
    background-color: transparent;
}

.playBtn:hover {
    transform: scale(1.1);
}

.playBtn:active {
    color: purple;
}