.page {
    height: 100vh;
    background-color: #E2CCB4;
    text-align: center;
}

.title {
    margin-top: 0;
    font-size: 72px;
}

.difficultyLevelTitle {
    font-size: 48px;
}

.checkbox {
    margin: 0 45px 15px;
    transform: scale(3);
}

.levelLabels {
    display: flex;
    justify-content: center;
    font-size: 36px;
}


.playBtn {
    font-size: 80px;
    border-color: transparent;
    background-color: transparent;
}

.playBtn:hover {
    transform: scale(1.1);
}

.playBtn:active {
    color: purple;
}