.title {
    margin-top: 0;
    padding-top: 220px;
    font-size: 84px;
    text-align: center;
}

.form {
    text-align: center;
}

.difficultyLevelTitle {
    margin: 120px 0 60px;
    font-size: 48px;
}

.levelOptions {
    display: flex;
    justify-content: center;
}

.radioLabel {
    display: flex;
    flex-direction: column;
}

.radio {
    margin: 0 55px 15px;
    cursor: pointer;
    transform: scale(3);
}

.levelLabel {
    font-size: 36px;
    cursor: pointer;
}

.play {
    margin-top: 30px;
    font-size: 128px;
    border-color: transparent;
    background-color: transparent;
    color: black;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .title {
        padding-top: 120px;
        font-size: 48px;
    }

    .difficultyLevelTitle {
        margin-top: 60px;
        font-size: 36px;
    }

    .radio {
        margin: 0 40px 16px;
        transform: scale(2);
    }

    .levelLabel {
        font-size: 24px;
    }

    .play {
        font-size: 84px;
    }
}