.page {
    min-height: 100vh;
    background-color: #f2e49c99;
    text-align: center;
}

.title {
    /* Why need to do this to remove the top margin? Already set margin: 0 in index.css*/
    margin-top: 0;
    padding-top: 220px;
    font-size: 84px;
}

.difficultyLevelTitle {
    margin-top: 120px;
    font-size: 48px;
}

.levelOptions {
    display: flex;
    justify-content: center;
}

.radioLabel {
    display: flex;
    flex-direction: column;
}

.radio {
    margin: 0 55px 15px;
    transform: scale(3);
}

.levelLabel {
    font-size: 36px;
}

.play {
    margin-top: 30px;
    font-size: 128px;
    border-color: transparent;
    background-color: transparent;
    color: black;
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 48px;
        padding-top: 120px;
    }

    .difficultyLevelTitle {
        margin-top: 60px;
        font-size: 36px;
    }

    .radio {
        margin: 0 40px 16px;
        transform: scale(2);
    }

    .levelLabel {
        font-size: 24px;
    }

    .play {
        font-size: 84px;
    }
}