.page {
    min-height: 100vh;
    background-color: #F5DDDB;
}

.homeBtn {
    display: inline-block;
    font-size: 72px;
    margin: 30px 0 0 45px;
    color: #0A0761;
    border-color: transparent;
    background-color: transparent;
}

.question {
    margin: 90px 30px 0;
    font-size: 48px;
    text-align: center;
}

.choices {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    justify-content: center;
    gap: 90px;
    margin-top: 200px;
}

.btn {
    justify-self: center;
    height: 120px;
    width: 350px;
    font-size: 36px;
    color: white;
    border-radius: 25px;
    border-color: transparent;
}

.btn:hover {
    border: solid #84c1d5 5px;
}

.btn:disabled {
    border-color: transparent;
    background-color: #cccccc;
}

.btn1 {
    background-color: #4D49BF;
}

.btn2 {
    background-color: Lime;
}

.btn3 {
    background-color: salmon;
}

.btn4 {
    background-color: #FFA500;
}

@media only screen and (max-width: 1200px) {

    .question {
        margin-top: 220px;
        font-size: 36px;
    }

    .choices {
        grid-template-columns: repeat(2, 400px);
        gap: 40px;
        margin-top: 100px;
    }

    .btn {
        font-size: 24px;
    }
}

@media only screen and (max-width: 800px) {
    .homeBtn {
        margin: 20px 0 10px 20px;
        font-size: 32px;
    }

    .question {
        margin: 50px 8px 0;
        font-size: 24px;
    }

    .choices {
        grid-template-columns: repeat(1, 300px);
        margin: 20px 0 0;
        gap: 20px;
    }

    .btn {
        height: 80px;
    }
}