.page {
    height: 100vh;
    background-color: #F5DDDB;
}

.homeBtn {
    display: inline-block;
    font-size: 72px;
    margin: 30px 0 0 45px;
    color: #0A0761;
    border-color: transparent;
    background-color: transparent;
}

.Question {
    margin-top: 90px;
    font-size: 48px;
    text-align: center;
}

.choices {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    justify-content: center;
    gap: 90px;
    margin-top: 200px;
}

.btn1,
.btn2,
.btn3,
.btn4 {
    justify-self: center;
    height: 120px;
    width: 350px;
    font-size: 36px;
    color: white;
    border-radius: 25px;
    border-color: transparent;
}

.btn1 {
    background-color: #4D49BF;
}

.btn2 {
    background-color: #008000;
}

.btn3 {
    background-color: #F20505;
}

.btn4 {
    background-color: #FFA500;
}